
h1 {
  color: fuchsia;
}

body {
overflow:hidden;
}

.canvasLol {
  
text-align: center;
padding-top: 70px;
height: 100%;
width: 100%;
  
}

#circle { 
position:absolute;
width:38px;
margin-left:95%;
top:90%;
opacity:0;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
  
#marker {
top:77px;
left:100px;
width:3px;
opacity:0.7;
position: absolute;
}

@media (max-width: 1225px) {
#textDiv{
visibility: hidden;  
  
  }}


#textDiv{
top:50px;
position:absolute;
  float: left;
  z-index: 1;
  padding-left:78%;
  padding-top:2.5%;
}


#textimg {
position: absolute;
  float: left;
  z-index: 1;
  width: 160px;
  
  
}

#titleDiv {
text-align:center;
top: 10px;
position:absolute;
width: 100%;

}

#titleText{
font-family: 'Bungee Shade', cursive;
font-size:25px;
  
}
